extends ../components/layout/layout

block body
  div.content
    h1.title This check media queries in mobile device
    input(type="text" class="input" placeholder="input text...")
    div.orientation
      div.landscape
      span.label - landscape
    div.orientation
      div.portrait
      span.label - portrait
